<%flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<div class="row medium-8 large-7 columns">
<% @ads.each do |ad| %>
<h3><%=link_to ad.title, ad%> <small><%=ad.created_at.strftime("%d %B | %I:%M %p")%></h3>
    <p><%=ad.content%> </p>
    Город: <%=ad.city%> <br/>
    Цена: <%=ad.price%> <br/>
    Продавец: <%=ad.user.email%>
<%end%>
</div>

