<%flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<div class="ads">
  <% @ads.each do |ad| %>
      <hr/>
      <div class="ad">
      <h2><%=link_to ad.title, ad%> <small><%=Russian::strftime(ad.created_at.to_time, "%a, %d %b %Y, %H:%M")%></small></h2>
      <strong><%=ad.price%> руб.</strong> <br/>
      <%=ad.city%>, Адрес:
        <%=ad.address%><br/>
        <span style="float:right; color:gray;">Разместил: <%=ad.user.login%></span>
      </div>
  <%end%>
</div>

