<%=render 'layouts/profile'%>
<br/>
<div class="row medium-8 large-7 columns">
  <% @ads.each do |ad| %>
      <h3><%=link_to ad.title, ad%> <small><%=Russian::strftime(ad.created_at.to_time, "%d %B | %I:%M %p")%></small></h3>
      <p><%=ad.content%> </p>
      Город: <%=ad.city%> <br/>
      Цена: <%=ad.price%> <br/>
      Продавец: <%=ad.user.email%>
  <%end%>
</div>

<hr/>
